<section class='row col-12'>
    <ul class='col-11 off-1 alt'>
        <li><i class="fas fa-comments"></i></li>
            <% for(var i=0; i < comments.length; i++) { %>
                <li class=''>
                    <div class='row'>
                        <div class='col-6'>
                            <p class='no-margin-bottom'>
                            <span class='image circle small'><img src='<%=comments[i].userImg%>'></span>
                                <strong><a href='/profile/<%=comments[i].userId%>'><%=comments[i].userName%>: </strong></a><%=comments[i].comment%>
                            </p>
                        </div>
                        <div class='col-3'>
                            <form 
                                action='/comments/likeComment/<%=audio._id%>/<%=comments[i]._id%>?_method=PUT' 
                                method='POST' 
                                class='no-margin-bottom'>
                                    <button class='button fit vanilla style1' type='submit'><i class='fas fa-heart'></i><span><%=comments[i].likes%></span></button>
                            </form>
                        </div>
                        <% if(comments[i].userId == user.id) { %>
                            <div class='col-2'>
                                <form
                                    action='/comments/deleteComment/<%=audio._id%>/<%=comments[i]._id%>?_method=DELETE' 
                                    method='POST' 
                                    class='no-margin-bottom'>
                                        <button class='button fit vanilla style1' type='submit'><i class='fas fa-trash'></i></button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </li>
            <% } %>
    </ul>
    <form action="/comments/createComment/<%=audio._id%>" method="POST" class='col-12'>
        <div class='fields'>
            <div class='field col-12'
                <label for='comment' class='form-label'><strong>Add a Comment</strong></label>
                <textarea type='text' class='form-control' id='comment' name='comment' placeholder='Enter your message'>
                </textarea>
            </div>
        </div>
        <button type='submit' class='small button' value='Upload'>Submit</button>
    </form>
</section>
