<%- include('partials/header') -%>
  <div id="wrapper">
    <div id="main">
        <div class='inner'>
            <section>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        <ul class='alt col-8'>
                        <% for(var i=0; i<audios.length; i++) {%>
                            <li class='col-12 gtr-uniform row aln-center'>
                            <div class='col-12 row gtr-uniform aln-center'>
                                <div class="col-3">
                                    <a href="/post/<%=audios[i]._id%>">
                                        <span class='image square fit'>
                                            <% if (audios[i].customImg!='none'){ %>
                                                <img class="" src="<%= audios[i].customImg%>">
                                            <% } else { %>
                                                <img class="" src="<%= audios[i].defaultImg%>">
                                            <% }%>
                                        </span>
                                    </a>
                                </div>
                                <div class='col-9'>
                                    <h4 class='no-margin-bottom'>
                                    <a href="/post/<%=audios[i]._id%>">
                                    <%=audios[i].title%>
                                    </a>
                                        <a class='icon brands' href='<%=audios[i].audio%>' download='<%=audios[i].title%>'>
                                            <i class='fas fa-download'></i>
                                        </a>
                                    </h4>
                                    <p class='no-margin-bottom'>by 
                                    <a href='/profile/<%=audios[i].user%>'>
                                    <strong><%=audios[i].userName%></strong></a>
                                    <span class='image square small'><img src='<%=audios[i].defaultImg%>'></span>
                                    </p>
                                    <figure>
                                        <audio
                                            controls
                                            src='<%=audios[i].audio%>'>
                                        </audio>
                                    </figure>
                                </div>
                            </div>
                            </li>
                        <% } %>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
  </div>  
<%- include('partials/footer') -%>
