<h2>Liked Posts</h2>
<div class="box alt likedPosts">
    <div class="row gtr-uniform">
        <ul class='alt col-12 scrollable-list'>
            <% for(var i=likedAudios.length-1; i>=0; i--) {%>
                <li class='col-12 gtr-uniform li-mb'>
                    <div class='row gtr-uniform aln-center'>
                        <div class="col-3">
                            <div class='audio-player'>
                                <audio src='<%=likedAudios[i].audio%>'>
                                </audio>
                                <div class='controls'>
                                    <% if (likedAudios[i].customImg!='none'){ %>
                                        <img class="" src="<%= likedAudios[i].customImg%>">
                                    <% } else { %>
                                        <img class="" src="<%= likedAudios[i].defaultImg%>">
                                    <% }%>
                                        <button class='player-button vanilla'>
                                            <i class='fas fa-play-circle'></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                        <div class='col-8 off-1'>
                            <h5 class='no-margin-bottom'>
                                <a href="/post/<%=likedAudios[i]._id%>">
                                    <%=likedAudios[i].title%>
                                </a>
                            </h5>
                            <p class='no-margin-bottom'>by 
                                <a href='/profile/<%=likedAudios[i].user%>'>
                                    <strong><%=likedAudios[i].userName%></strong>
                                </a>
                                <span class='image square small'><img src='<%=likedAudios[i].defaultImg%>'></span>
                            </p>
                        </div>
                    </div>
                </li>
            <% } %>
            <% if (likedAudios==0) { %>
                <li class='col-11 off-1 aln-center row'>
                        <h4 class='col-6 off-1'>No Likes</h4>
                </li>
            <% } %>
        </ul>
    </div>
</div>
