<%- include('partials/header') -%>
<div id="wrapper">
    <div id='main'>
        <div class="inner">
            <section>
                <div class="box alt">
                    <div class='row gtr-uniform'>
                        <div class='row gtr-uniform col-7'>
                            <div class='col-12'>
                                <a class="button col-2" href="/feed">Feed</a>
                                <span class='image fit'>
                                    <% if (audio.customImg!='none'){ %>
                                        <img class="" src="<%= audio.customImg%>">
                                    <% } else { %>
                                        <img class="" src="<%= postUser.image%>">
                                    <% }%>
                                </span>
                            </div>
                            <div class='col-9'>
                                <h4 class='no-margin-bottom'>
                                    <a href="/post/<%=audio._id%>">
                                        <%=audio.title%>
                                    </a>
                                    <a class='icon brands' href='<%=audio.audio%>'>
                                        <i class='fas fa-download'></i>
                                    </a>
                                </h4>
                                <p class='no-margin-bottom'>by 
                                    <a href='/profile/<%=audio.user%>'>
                                        <strong><%=audio.userName%></strong>
                                    </a>
                                </p>
                                <figure>
                                    <audio
                                        controls
                                        src='<%=audio.audio%>'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                        <div class='col-5 row'>
                            <h2 class='col-12 no-margin-bottom'><%= audio.title %></h2>
                            <span class='image circle medium round'><img src='<%=postUser.image%>'></span>
                            <p class='col-12 no-margin-bottom'>
                                <strong>
                                    <a href='/profile/<%=audio.user%>'><%=audio.userName%>:</a>
                                </strong>
                                <span><%= audio.caption %></span>
                            </p>
                            <form
                                class="col-4 no-margin-bottom"
                                action="/post/likePost/<%= audio.id %>?_method=PUT"
                                method="POST"
                            >
                                <% if(audio.likedBy.includes(currentUser.id)){%>
                                <button class="small button style1 liked" type="submit">
                                <% } else { %>
                                <button class="small button style1" type="submit">
                                <% } %>
                                    <i class='fas fa-heart'></i>
                                    <span><%=audio.likes%></span>
                                </button>
                            </form>
                            <%if(audio.user == currentUser.id){ %>
                                <form
                                    action="/post/getUpdatePost/<%= audio.id %>?_method=GET"
                                    method="GET"
                                    class="col-3 no-margin-bottom"
                                >
                                    <button class="button small fa fa-pen" type="submit"></button>
                                </form>
                                <form
                                    action="/post/deletePost/<%= audio.id %>?_method=DELETE"
                                    method="POST"
                                    class="col-3 no-margin-bottom"
                                >
                                    <button class="button small fa fa-trash" type="submit"></button>
                                </form>
                            <%}%>
                            <%- include('comment', {comments}); %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
