<%- include('partials/header') -%>
<div id="wrapper">
    <div id='main'>
        <div class="inner">
            <section>
                    <div class="box alt">
            <a class="button col-2" href="/feed">Feed</a>
                        <div class='row gtr uniform'>
                            <div class='col-7'>
                                <span class='image fit'>
                                    <img src="<%= post.image%>" />
                                </span>
                            </div>
                        <div class=' col-5 row'>
                            <h2 class='col-12 no-margin-bottom'><%= post.title %></h2>
                            <p class='col-12'>
                                <strong>
                                    <a href='/profile/<%=post.user%>'><%=post.userName%>:</a>
                                </strong>
                                    <span><%= post.caption %></span>
                            </p>
                            <form
                            class="col-5"
                            action="/post/likePost/<%= post.id %>?_method=PUT"
                            method="POST"
                            >
                                <button class="small button style1" type="submit"><i class='fas fa-heart'></i><span><%=post.likes%></span></button>
                            </form>
                            <%if(post.user == user.id){ %>
                                <form
                                    action="/post/deletePost/<%= post.id %>?_method=DELETE"
                                    method="POST"
                                    class="col-5"
                                    >
                                    <button class="button small fa fa-trash" type="submit"></button>
                                </form>
                            <%}%>
                            <%- include('comment', {comments}); %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
