<%- include('partials/header') -%>
<div id='wrapper'>
<div class="main">
<div class='inner'>
<div class='row'>
    <div class='col-2'>
        <span class='image fit'><img class="" src="<%=user.image%>"></span>
        <% if(user.id===currentUser.id) {%>
        <a href='/profilePictureUpdate' class='button small'>edit</a>
        <% } %>
    <p><strong><%= user.userName %></strong></p>
        <% if(user.id===currentUser.id) {%>
    <p><strong>Email</strong>: <%= user.email %></p>
        <% } %>
    <a href="/logout" class="col-3 button next">Logout</a>
    <a href="/upload" class="col-3 button next">Upload</a>
    </div>
    <section class='col-9 row off-1'>
    <div class=''>
      <div class="">
        <ul class="alt col-9 off-3 row">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-4">
            <a href="/post/<%= posts[i]._id%>">
                <span class='image fit'><img class="" src="<%= posts[i].image%>"></span>
            </a>
          </li>
        <% } %>
        </ul>
      </div>
    </div>
    </section>
</div>
        <div class="row aln-center">
          <a class="button next" href="/feed">Return to Feed</a>
        </div>  
</div>
</div>
<%- include('partials/footer') -%>
