<%- include('partials/header') -%>
<div id='wrapper'>
<div class="main">
<div class='inner'>
<div class='row'>
    <div class='col-3'>
        <span class='image circle fit'><img class="" src="<%=user.image%>"></span>
        <% if(user.id===currentUser.id) {%>
        <a href='/profilePictureUpdate' class='button small'>Edit Picture</a>
        <% } %>
    <p><strong><%= user.userName %></strong></p>
        <% if(user.id===currentUser.id) {%>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a href="/logout" class="col-3 button small">Logout</a>
    <a href="/upload" class="col-3 button small">Upload</a>
        <% } %>
    <section class='col-3'>
    <%- include('likedPosts', {likedAudios}); -%>
    </section>
    </div>
    <section class='col-8 row off-1'>
    <div class='box alt'>
      <ul class="alt row gtr-uniform">
        <% for(var i=0; i<audios.length; i++) {%>
        <li class='col-12 row gtr-uniform'>
            <div class='col-3'>
                <a href="/post/<%= audios[i]._id%>" class=''>
                    <span class='image square fit'>
                        <% if (audios[i].customImg!='none'){ %>
                            <img class="" src="<%= audios[i].customImg%>">
                        <% } else { %>
                            <img class="" src="<%= user.image%>">
                        <% }%>
                    </span>
                </a>
            </div>
            <div class='col-8 off-1'>
                <h4>
                <a href="/post/<%= audios[i]._id%>" class=''>
                    <%=audios[i].title%>
                </a>
                <a class='icon brands' href='<%=audios[i].audio%>'>
                    <i class='fas fa-download'></i>
                </a>
                </h4>
                <figure>
                <audio
                    controls
                    src='<%=audios[i].audio%>'>
                </audio>
                </figure>
            </div>
        </li>
        <% } %>
        <% if(audios.length==0){ %>
            <h2>No audios yet</h2>
        <% } %>
      </ul>
    </div>
    </section>
</div>
        <div class="row aln-center">
          <a class="button next" href="/feed">Return to Feed</a>
        </div>  
</div>
</div>
<div class='blank-space10'></div>
<%- include('partials/footer') -%>
<script src='js/audioplayer.js'></script>
